In [2]:
import pandas as pd

In [3]:
csv_path = "Resources/budget_data.csv"

In [4]:
PyBank_df = pd.read_csv(csv_path)

PyBank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
Total_Months = PyBank_df['Date'].count()

print("Total Months = ", Total_Months)

Total Months =  86

In [6]:
Total = PyBank_df['Profit/Losses'].sum()

print("Total = $", Total)

Total = $ 38382578

In [7]:
Profit_Change = PyBank_df['Profit/Losses'].diff(+1)

PyBank_df['Profit Change'] = Profit_Change

PyBank_df.head()

       Date  Profit/Losses  Profit Change
0  Jan-2010         867884            NaN
1  Feb-2010         984655       116771.0
2  Mar-2010         322013      -662642.0
3  Apr-2010         -69417      -391430.0
4  May-2010         310503       379920.0

In [19]:
Profit_Average = PyBank_df['Profit Change'].mean()

Profit_Average = round(int(Profit_Average))

print("Average Change: $", (Profit_Average))

Average Change: $ -2315

In [20]:
#use loc in line 9 of Loc_iLoc activity

Greatest_Increase = PyBank_df['Profit Change'].max()

Greatest_Increase = round(int(Greatest_Increase))

print("Greatest Increase in Profits")

print(PyBank_df.loc[PyBank_df["Profit Change"] == Greatest_Increase])

Greatest Increase in Profits
$         Date  Profit/Losses  Profit Change
25  Feb-2012        1170593      1926159.0

In [22]:
Greatest_Decrease = PyBank_df['Profit Change'].min()

Greatest_Decrease = round(int(Greatest_Decrease))

print("Greatest Decrease in Profits")

print(PyBank_df.loc[PyBank_df["Profit Change"] == Greatest_Decrease])

Greatest Decrease in Profits
        Date  Profit/Losses  Profit Change
44  Sep-2013       -1196225     -2196167.0

In [33]:
print("")
print("              Financial Analysis")

print("---------------------------------------------")
print("")
print("Total Months = ", Total_Months)
print("Total = $", Total)
print("Average Change: $", (Profit_Average))
print("")
print("Greatest Increase in Profits")
print(PyBank_df.loc[PyBank_df["Profit Change"] == Greatest_Increase])
print("")
print("Greatest Decrease in Profits")
print(PyBank_df.loc[PyBank_df["Profit Change"] == Greatest_Decrease])

              Financial Analysis
---------------------------------------------

Total Months =  86
Total = $ 38382578
Average Change: $ -2315

Greatest Increase in Profits
        Date  Profit/Losses  Profit Change
25  Feb-2012        1170593      1926159.0

Greatest Decrease in Profits
        Date  Profit/Losses  Profit Change
44  Sep-2013       -1196225     -2196167.0